#container{
  width: 262px;
  margin: 10px;
  overflow: hidden;
  position: relative;
 
}
.image-recipe{
  width: 260px;
  height: 250px;
  background-size: 260px 295px;
  border: 3px solid black;
  border-radius: 8px;
}
.overlay{
  width: 260px;
  height: 250px;
  padding: 10px;
  background-color: #978f84;
  position: absolute;
  top:0;
  left: 100%;
  transition: 1s;
  overflow: hidden;
}
#container:hover .overlay{
  left:0;
}
